#searchByNameInput{
    margin-left: 21%;
    background-color: 	#D3D3D3;
    color: black;
    width: 114vh;
    height: 4vh;
    margin-bottom: 1%;
    border-radius: 59px;
    font-size: large;
    outline: none;
    padding-left:10px ;
    
    
    
}::placeholder{
    color: black;
    opacity: 50%;
}